@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script:regular,700);
@import 'tailwindcss';

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary-darkgreen: #073000;
  --color-primary-lightgreen: #30ff00;
}

.logo-grossary {
  font-family: "Oleo Script", sans-serif;
  font-size: 2rem;
  padding: 10px;
}